# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.local
.env.*.local
**/.env
**/.env.local

# Databases & logs
*.db
*.sqlite
*.sqlite3
**/*.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build and coverage outputs
dist/
build/
coverage/
**/dist/
**/build/
**/coverage/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
~$*.docx
~$*.xlsx
